body {
    background-color: #c3e4fa;
    margin: 20px;
}
@media only screen and (max-width: 412px) {
    body {
        margin: 10px;
        font-size: 15px;
        max-width: 100%;
    }
    b {
        font-size: 28px;
    }
}
@media only screen and (min-width: 1920px) {
    body {
        max-width: 900px; 
        margin: 50px auto; 
    }
}